body {
    justify-content: center;
}

.app-container {
    justify-content: center;
}

.auth-container {
    width: 90%;
    height: 90%;
}

.auth-header {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.logo {
    width: 70%;
}

.auth-header h1 {
    font-size: 1.8rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.auth-header p {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .5rem;
    text-align: center;
    width: 80%;
}

.auth-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
    padding: 1rem;
    margin-top: 1.5rem;

    background: rgba(255, 255, 255, 0.2); 
    backdrop-filter: blur(15px);
    -webkit-backdrop-filter: blur(15px);
    border: 1px solid rgba(255, 255, 255, 0.3); 
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
    border-radius: 1rem;
}

.auth-switch {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
}

.auth-switch button {
    width: 45%;
    border: none;
    background: var(--color-primary);
    font-size: 1rem;
    font-weight: 400;
    cursor: pointer;
    padding: .3rem;
    margin: 1rem 0 1.5rem 0;
    color: white;
    border-radius: 1rem 0 0 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.auth-switch button:last-child {
    border-radius: 0 1rem 1rem 0;
    background: var(--color-secondary);
}

.auth-form {
    width: 90%;
}

.auth-form h2 {
    font-size: 1.4rem;
    font-weight: 400;
    margin-bottom: 1rem;
}

.auth-form button {
    width: 100%;
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 1rem;
    background: var(--color-primary);
    color: white;
    cursor: pointer;
    font-size: 1rem;
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
}

.auth-form button:last-child {
    background: var(--color-secondary);
}

.form-group {
    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
}

.form-group label {
    font-size: 1rem;
    font-weight: 400;
    margin-bottom: .5rem;
}

.form-group input {
    padding: .5rem;
    border-radius: 1rem;
    border: none;
    margin-bottom: 1rem;
}


/* Inactive */
.inactive {
    display: none;
}