/* Sección de bienvenida */
.welcome-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 45%;
}

.welcome-section img {
    width: 12rem;
    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    margin: 0.5em 0.5em;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes slideInLeft {
    from {
        opacity: 0;
        transform: translateX(-50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

@keyframes slideInRight {
    from {
        opacity: 0;
        transform: translateX(50px);
    }
    to {
        opacity: 1;
        transform: translateX(0);
    }
}

.welcome-section h1 {
    font-size: 2rem;
    color: var(--color-primary);
    margin: 0.5rem 0.8rem;
    text-align: center;
    opacity: 0;
    animation: slideInLeft 1s ease-out forwards;
    animation-delay: 1.8s;
}

.welcome-section p {
    font-size: 1.2rem;
    color: var(--color-tertiary);
    text-align: center;
    margin: 0.5em 1em;
    opacity: 0;
    animation: slideInRight 1s ease-out forwards;
    animation-delay: 2.3s;
}

/* Sección de inicio de sesión y registro */

.login-register-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    height: 53%;
    width: 100%;
    background: linear-gradient(180deg, #27ACDB, #161D6A);
    border-top-left-radius: 2rem;
    border-top-right-radius: 2rem;

    opacity: 0;
    animation: fadeIn 1.5s ease-in-out forwards;
    animation-delay: 0.8s;
}

.login-register-button {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;

    height: 80%;
    width: 80%;
}

.login-register-button button{
    width: 70%;
    height: 15%;
    border: none;
    border-radius: 1em;
    background-color: white;
    cursor: pointer;
    font-family: var(--font-title);
}

.login-register-button button:hover {
    color: var(--color-primary);
    scale: 1.10;
    transition: 0.2s;
}

.register-form-container {
    display: none;
    align-items: center;
    width: 90%; 
    height: 90%; 
    padding: 1rem; 
}

.register-form-container form {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-evenly;

    width: 100%;
    height: 100%;
}

.register-form input{
    width: 90%;
    height: 2.5vh;
    border: none;
    border-radius: 2rem;
    padding: 1rem;
}

.register-form button{
    width: 40%;
    height: 4vh;
    border: none;
    border-radius: 1em;
    cursor: pointer;
    background: white;
    color: var(--color-primary);
}

.register-form button[type="submit"] {
    background: var(--color-primary);
    color: white;
}

.register-form button:hover {
    scale: 1.05;
    transition: 0.2s;
}

#login-form {
    display: none;
}
